# Node
node_modules/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Others
*.swp
*.swo

# Build
/dist/
/build/

# Coverage
coverage/

# System Files
Thumbs.db

# Temporary files
*.tmp
*.bak
